.recovery-password-btn {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 16px;
    margin-top: 34px;
}

.reset-page .recovery-password-btn {
    margin-top: 68px;
}

.forgot-password__navigation {
    padding: 20px 16px;
    background: #F9F9FA;
    border-radius: 16px 16px 0 0;
}

.forgot-password__navigation a {
    display: inline-flex;
    align-items: center;
}

.forgot-password__navigation img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.forgot-password__navigation p {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #727272;
}

.forgot-password .form {
    padding: 0 56px 0;
}

.forgot-password .registration-link-wrapper {
    padding: 0 56px 48px;
}

.forgot-password .help-text {
    color: #727272;
}

#passwordConfirmation {
    padding-right: 35px;
}

.forgot-password .error-text:not(.hidden) ~ .help-text {
    margin-top: 2px;
}

.forgot-password .form__title {
    padding-top: 32px;
}

.reset-page .form__title {
    padding-top: 48px;
}

@media (max-width: 561px) {
    .registration-state {
        padding: 42px 16px 32px;
    }

    .forgot-password .form {
        padding: 0 16px 0;
    }

    .forgot-password .registration-link-wrapper {
        padding: 0 16px 48px;
    }
}

@media (max-width: 471px) {
    .forgot-password .form__title {
        margin-bottom: 20px;
    }

    .reset-page .form__title {
        padding-top: 24px;
        margin-bottom: 32px;
    }

    .reset-page .recovery-password-btn {
        margin-top: 38px;
    }

    .recovery-password-btn {
        margin-top: 20px;
        font-size: 12px;
        line-height: 18px;
    }

    .forgot-password .input-wrapper {
        margin-bottom: 48px;
    }

    .forgot-password .input-wrapper.mb {
        margin-bottom: 0;
    }
}
